<footer>
    <div class="columns">  
        <p class="title">
            ¿Quieres saber mas?
        </p>
        <ul class="lista">
            <li>
                <a href="">¿Qué es el arte digital?</a>
            </li>
            <li>
                <a href="">Tipos de arte digital</a>
            </li>
            <li>
                <a href="">Artistas digitales más conocidos</a>
            </li>
            <li>
                <a href="">Mas obras digitales</a>
            </li>
            <li>
                <a href="">Conceptos basicos</a>
            </li>
            <li>
                <a href="">Teoris del color</a>
            </li>
            <li>
                <a href="">Herramientas para crear estas piezas</a>
            </li>
        </ul>
    </div>
    <div class="columns">
        <p class="title">
            Te podría interesar
        </p>
        <ul class="lista">
            <li>
                <a href="">
                    Más sobre el arte
                </a>
            </li>
            <li>
                <a href="">
                    Técnicas en el arte tradicional
                </a>
            </li>
            <li>
                <a href="">
                    Historia del arte digital
                </a>
            </li>
        </ul>
    </div>
    <div class="columns">
        <p class="title">
            Artistas
        </p>
        <ul class="lista">
            <li>
                <a href="">
                    Más sobre el arte
                </a>
            </li>
            <li>
                <a href="">
                    Técnicas en el arte tradicional
                </a>
            </li>
            <li>
                <a href="">
                    Historia del arte digital
                </a>
            </li>
        </ul>
    </div>
</footer>