<div class="contenedorTipos">
    <div class="tipo1">
        <h1>
            PIXEL ART
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo2">
        <h1>
            SEMI REALISMO
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo3">
        <h1>
            MODELADO 3D
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo4">
        <h1>
            LLUSTRACION VECTORIAL
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo5">
        <h1>
            ANIME
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo6">
        <h1>
            CARTOON
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo7">
        <h1>
            NFT'S
        </h1>
        <p>

        </p>
    </div>
    <div class="tipo8">
        <h1>
            ANIMACIÓN DIGITAL
        </h1>
        <p>

        </p>
    </div>
</div>