<div id="queEs">
    <img src="" alt="">
    <div class="texto">
        <titulo [texto]="texto"> </titulo>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, atque! 
            Vitae nao, enim sapiente recusandae veniam dicta mollitia ex eligendi earum doloremque sunt, 
            aliquam aliquid accusamus sed consectetur alias repudiandae molestias.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aspernatur incidunt, 
            optio adipisci molestias iure repellendus velit deserunt labore dolore maiores amet iste ullam 
            repudiandae, ipsam quos vitae fugit sit!
        </p>
    </div>
</div>